# Transformers
transformers==4.55.4

# Diffusers từ GitHub
git+https://github.com/huggingface/diffusers

# PyTorch + CUDA 12.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu121

# Additional libraries
bitsandbytes
accelerate

# PEFT backend
peft==0.17.1

-U "huggingface_hub[cli]"


# Split into folder (Change image_dir)
python split_into_folder.py


# Push to Hugging Face Hub (Change Local_Dir and access token in push.py)
python push.py